# Generated by scripts/extract-contract.mjs from refscout_api_spec.md.
# Do not edit by hand - edit the specification and re-run
#   npm run contract:extract && npm run contract
# Committed because CI has no access to the specification.

openapi: 3.1.0

info:
  title: RefScout API
  version: 1.0.0
  summary: The contract between the RefScout browser client and the backend.
  description: |
    The client parses PDF, Word, LaTeX, BibTeX, Markdown and plain text in the browser and
    submits the extracted text. The server analyses text and returns findings about it, with
    every offset expressed in Unicode code points and every phrase expressed as a dictionary
    key.

    Section numbers in the descriptions below refer to refscout_api_spec.md, which carries the
    rules a schema cannot express.
  license:
    name: Proprietary
  contact:
    name: RefScout
    url: https://refscout.app

servers:
  - url: https://api.refscout.app
    description: Production
  - url: https://api.staging.refscout.app
    description: Staging

security:
  - session: []

tags:
  - name: jobs
    description: Creating, polling and reading a checking job.
  - name: entitlements
    description: Whether paid access is open right now.
  - name: scout
    description: Search across the bibliographic databases.
  - name: venues
    description: Venue requirements fetched from a URL.
  - name: telemetry
    description: Client events, problem reports and CSP violation reports.
  - name: auth
    description: Sessions, passwords and OAuth.
  - name: account
    description: Data export and account deletion.
  - name: billing
    description: Checkout and the billing portal.
  - name: ops
    description: Liveness.

paths:
  /jobs:
    post:
      operationId: submitJob
      tags: [jobs]
      summary: Create a checking job
      description: |
        One job covers every document the user brought and every check they ticked. The body
        carries the text of each document, and may arrive gzip-compressed. Both `gzip` and
        `identity` are accepted at any size; when the client compresses is its own decision.
      security:
        - session: []
          csrfToken: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ContentEncoding'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubmitJobRequest' }
      responses:
        '202':
          description: The job was created.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubmitJobResponse' }
              examples:
                accepted: { $ref: '#/components/examples/JobAccepted' }
        '200':
          description: |
            The same idempotency key with the same body: the job that key already names,
            whatever state it is in.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SubmitJobResponse' }
              examples:
                idempotentReplay: { $ref: '#/components/examples/JobAccepted' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '402': { $ref: '#/components/responses/PaymentRequired' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '415': { $ref: '#/components/responses/UnsupportedMediaType' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

        default: { $ref: '#/components/responses/Default' }

  /jobs/{jobId}:
    get:
      operationId: getJob
      tags: [jobs]
      summary: Poll job and module state
      description: |
        Returns the state of the job, its progress stages and the state of every module on
        every document. Result bodies are fetched separately from `resultRef`.
      security:
        - session: []
          jobToken: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/JobToken'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: The state of the job.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/NoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobStatus' }
              examples:
                finished: { $ref: '#/components/examples/JobFinished' }
                running: { $ref: '#/components/examples/JobRunning' }
                partial: { $ref: '#/components/examples/JobPartial' }
                failed: { $ref: '#/components/examples/JobFailed' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

    delete:
      operationId: cancelJob
      tags: [jobs]
      summary: Cancel a running job and erase its text
      description: |
        Stops the work, erases the submitted text and any partial results, and invalidates the
        job token.
      security:
        - session: []
          jobToken: []
          csrfToken: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/JobToken'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '202':
          description: The job is cancelled.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobStatus' }
              examples:
                cancelled: { $ref: '#/components/examples/JobCancelled' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /jobs/{jobId}/documents/{docId}/modules/{moduleId}/result:
    get:
      operationId: getModuleResult
      tags: [jobs]
      summary: Fetch one module result body
      description: |
        The address the client receives as `resultRef` on a module status. It is fetched once
        per attempt and stays fetchable for the lifetime of the job.
      security:
        - session: []
          jobToken: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/DocId'
        - $ref: '#/components/parameters/ModuleIdPath'
        - $ref: '#/components/parameters/JobToken'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: The findings this module made about this document.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/NoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ModuleResult' }
              examples:
                bibcheck: { $ref: '#/components/examples/ResultBibcheck' }
                presubmit: { $ref: '#/components/examples/ResultPresubmit' }
                glossary: { $ref: '#/components/examples/ResultGlossary' }
                cite: { $ref: '#/components/examples/ResultCite' }
                unknownKinds: { $ref: '#/components/examples/ResultUnknownKinds' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '410': { $ref: '#/components/responses/Gone' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /jobs/{jobId}/modules/{moduleId}/retry:
    post:
      operationId: retryModule
      tags: [jobs]
      summary: Re-run one failed module inside an existing job
      description: |
        Re-runs the module over the text the job already holds, raising `attempt` for each
        document-and-module pair it touches.
      security:
        - session: []
          jobToken: []
          csrfToken: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/ModuleIdPath'
        - $ref: '#/components/parameters/JobToken'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RetryRequest' }
      responses:
        '202':
          description: The retry was accepted; the refreshed job state.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JobStatus' }
              examples:
                retrying: { $ref: '#/components/examples/JobRetrying' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /jobs/{jobId}/events:
    get:
      operationId: streamJobEvents
      tags: [jobs]
      summary: Server-sent events carrying job state (optional)
      description: |
        OPTIONAL. Polling `GET /jobs/{jobId}` carries every state the interface shows, and a
        deployment that does not answer this address is a conforming deployment; the client
        falls back to the poll.

        Events named `status` carry a complete JobStatus as data, a full snapshot each time. A
        final `done` event precedes the close, and a comment heartbeat every 20 seconds keeps
        intermediaries open.
      security:
        - session: []
          jobToken: []
      parameters:
        - $ref: '#/components/parameters/JobId'
        - $ref: '#/components/parameters/JobToken'
      responses:
        '200':
          description: The event stream.
          headers:
            Cache-Control: { $ref: '#/components/headers/NoStore' }
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  A sequence of `event: status` frames whose data is a JobStatus, followed by
                  one `event: done` frame.
        '404': { $ref: '#/components/responses/NotFound' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /entitlements:
    get:
      operationId: getEntitlements
      tags: [entitlements]
      summary: Whether paid access is open right now
      parameters:
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: The state of access for the current principal.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Entitlements' }
              examples:
                anonymous: { $ref: '#/components/examples/EntitlementsAnonymous' }
                trial: { $ref: '#/components/examples/EntitlementsTrial' }
                paid: { $ref: '#/components/examples/EntitlementsPaid' }
                periodEnded: { $ref: '#/components/examples/EntitlementsPeriodEnded' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /scout/search:
    post:
      operationId: scoutSearch
      tags: [scout]
      summary: Search the bibliographic databases
      description: |
        Sorting and filtering happen in the browser; `limit` is the request's one option.
      security:
        - session: []
          csrfToken: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScoutRequest' }
      responses:
        '200':
          description: The records the databases returned.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
            Cache-Control: { $ref: '#/components/headers/NoStore' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ScoutResponse' }
              examples:
                results: { $ref: '#/components/examples/ScoutResults' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }

        default: { $ref: '#/components/responses/Default' }

  /scout/feedback:
    post:
      operationId: scoutFeedback
      tags: [scout]
      summary: Thumb up or down on one result
      security:
        - session: []
          csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScoutFeedbackRequest' }
      responses:
        '204':
          description: Recorded.
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

        default: { $ref: '#/components/responses/Default' }

  /venues/fetch:
    post:
      operationId: fetchVenueRequirements
      tags: [venues]
      summary: Fetch venue requirements from a URL
      description: |
        Runs on an explicit press and carries the address alone. This is the one place where the
        server fetches on the client's behalf, because a strict `connect-src` names only our own
        API and a third-party site sends no CORS headers.
      security:
        - session: []
          csrfToken: []
      parameters:
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VenueFetchRequest' }
      responses:
        '200':
          description: The page was read.
          headers:
            X-Request-Id: { $ref: '#/components/headers/XRequestId' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VenueFetchResponse' }
              examples:
                ready: { $ref: '#/components/examples/VenueRequirementsFetched' }
                notRequirements: { $ref: '#/components/examples/VenueRequirementsNotRequirements' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
        '502':
          description: The address could not be read.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
              examples:
                unreadable: { $ref: '#/components/examples/ErrorUpstreamUnreadable' }
        '504':
          description: The address did not answer in time.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
              examples:
                timeout: { $ref: '#/components/examples/ErrorUpstreamTimeout' }

        default: { $ref: '#/components/responses/Default' }

  /client-events:
    post:
      operationId: sendClientEvents
      tags: [telemetry]
      summary: Client telemetry and user problem reports
      description: |
        Credential-light and CSRF-exempt so that a batch can be delivered by `sendBeacon` while
        the tab is closing, which is why `text/plain` is accepted alongside `application/json`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClientEventsRequest' }
          text/plain:
            schema: { $ref: '#/components/schemas/ClientEventsRequest' }
      responses:
        '202':
          description: The batch was received.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClientEventsResponse' }
              examples:
                accepted: { $ref: '#/components/examples/ClientEventsAccepted' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /csp-report:
    post:
      operationId: reportCspViolation
      tags: [telemetry]
      summary: CSP violation reports
      description: |
        Accepts both report formats declared in the client's headers, which together cover
        every live browser.
      security: []
      requestBody:
        required: true
        content:
          application/csp-report:
            schema:
              type: object
              description: The `report-uri` payload, as the browser sends it.
          application/reports+json:
            schema:
              type: array
              description: The `report-to` payload, as the browser sends it.
              items:
                type: object
      responses:
        '204':
          description: Received.

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /auth/session:
    get:
      operationId: getSession
      tags: [auth]
      summary: The current principal and the CSRF token
      description: |
        The client's first call on load. An anonymous principal is a normal answer, and the
        server issues an anonymous session cookie with it.
      security: []
      responses:
        '200':
          description: The principal and the CSRF token.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SessionResponse' }
              examples:
                anonymous: { $ref: '#/components/examples/SessionAnonymous' }
                signedIn: { $ref: '#/components/examples/SessionSignedIn' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /auth/register:
    post:
      operationId: register
      tags: [auth]
      summary: Create an account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '204':
          description: The account was created and the session cookie set.
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

        default: { $ref: '#/components/responses/Default' }

  /auth/login:
    post:
      operationId: login
      tags: [auth]
      summary: Password sign-in
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '204':
          description: Signed in; the session cookie is set.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

        default: { $ref: '#/components/responses/Default' }

  /auth/logout:
    post:
      operationId: logout
      tags: [auth]
      summary: End the session
      security:
        - session: []
          csrfToken: []
      responses:
        '204':
          description: Signed out; the cookie is cleared.

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /auth/password/forgot:
    post:
      operationId: forgotPassword
      tags: [auth]
      summary: Request a reset link
      description: The same answer is given for any address.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ForgotPasswordRequest' }
      responses:
        '204':
          description: Accepted.
        '429': { $ref: '#/components/responses/TooManyRequests' }

        default: { $ref: '#/components/responses/Default' }

  /auth/password/reset:
    post:
      operationId: resetPassword
      tags: [auth]
      summary: Set a new password from a token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResetPasswordRequest' }
      responses:
        '204':
          description: The password was set.
        '400': { $ref: '#/components/responses/BadRequest' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /auth/oauth/{provider}/start:
    get:
      operationId: startOauth
      tags: [auth]
      summary: Begin OAuth
      description: |
        Authorization Code plus PKCE, with `state` verified on the way back and a strict
        allowlist of redirect URIs. `next` is validated as a relative path.
      security: []
      parameters:
        - $ref: '#/components/parameters/Provider'
        - name: next
          in: query
          required: false
          schema:
            type: string
            pattern: '^/([^/\\].*)?$'
            default: /
          description: A relative path within the application to return to.
      responses:
        '302':
          description: Redirect to the provider.
          headers:
            Location:
              schema: { type: string, format: uri }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /auth/oauth/{provider}/callback:
    get:
      operationId: completeOauth
      tags: [auth]
      summary: Complete OAuth and redirect back into the application
      security: []
      parameters:
        - $ref: '#/components/parameters/Provider'
        - name: code
          in: query
          required: true
          schema: { type: string }
        - name: state
          in: query
          required: true
          schema: { type: string }
      responses:
        '302':
          description: The session cookie is set and the browser returns to the application.
          headers:
            Location:
              schema: { type: string }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /account/export:
    get:
      operationId: exportAccountData
      tags: [account]
      summary: Export the user's own data
      responses:
        '200':
          description: The account's data.
          content:
            application/json:
              schema:
                type: object
                description: The account's own records, as JSON.
              examples:
                export: { $ref: '#/components/examples/AccountExport' }
        '401': { $ref: '#/components/responses/Unauthorized' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /account/delete:
    post:
      operationId: deleteAccount
      tags: [account]
      summary: Delete the account and everything associated with it
      security:
        - session: []
          csrfToken: []
      responses:
        '204':
          description: Accepted.
        '401': { $ref: '#/components/responses/Unauthorized' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /billing/checkout:
    post:
      operationId: startCheckout
      tags: [billing]
      summary: Start a purchase
      security:
        - session: []
          csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CheckoutRequest' }
      responses:
        '200':
          description: The address to redirect the browser to.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedirectUrl' }
              examples:
                redirect: { $ref: '#/components/examples/BillingRedirect' }
        '401': { $ref: '#/components/responses/Unauthorized' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /billing/portal:
    get:
      operationId: openBillingPortal
      tags: [billing]
      summary: Open the provider's billing portal
      responses:
        '200':
          description: The address to redirect the browser to.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedirectUrl' }
              examples:
                redirect: { $ref: '#/components/examples/BillingRedirect' }
        '401': { $ref: '#/components/responses/Unauthorized' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

  /health:
    get:
      operationId: health
      tags: [ops]
      summary: Liveness for smoke tests
      security: []
      responses:
        '200':
          description: The service is up.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/HealthResponse' }
              examples:
                ok: { $ref: '#/components/examples/HealthOk' }

        '429': { $ref: '#/components/responses/TooManyRequests' }
        default: { $ref: '#/components/responses/Default' }

components:

  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: rs_session
      description: |
        The session cookie, set with HttpOnly, Secure, SameSite=Lax and Domain=.refscout.app.
        An anonymous session is a legitimate principal for the free modules.
    jobToken:
      type: apiKey
      in: header
      name: X-Job-Token
      description: |
        Issued when the job is created and required for every read of it. It stops working when
        the job is cancelled, and every read of that job then answers 404.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: |
        The double-submit token from `GET /auth/session`, echoed on every mutating request.

  parameters:
    JobId:
      name: jobId
      in: path
      required: true
      schema: { type: string, format: uuid }
    DocId:
      name: docId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ModuleIdPath:
      name: moduleId
      in: path
      required: true
      schema: { $ref: '#/components/schemas/ModuleId' }
    Provider:
      name: provider
      in: path
      required: true
      schema:
        type: string
        enum: [google, github, orcid]
    JobToken:
      name: X-Job-Token
      in: header
      required: true
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: |
        One key per user intent to start a check. The client mints a new one when the content
        of the submission changes and when the previous job reaches a terminal state.
      schema: { type: string, format: uuid }
    ContentEncoding:
      name: Content-Encoding
      in: header
      required: false
      description: |
        `gzip` when the client compressed the body, which it does itself since `fetch` does
        not. Both values are accepted at any body size.
      schema:
        type: string
        enum: [gzip, identity]
    RequestId:
      name: X-Request-Id
      in: header
      required: false
      description: When supplied, the server reuses this value in the response and its logs.
      schema: { type: string }

  headers:
    XRequestId:
      description: The request identifier, shown on error screens and quoted in support cases.
      required: true
      schema: { type: string }
    RetryAfter:
      description: Seconds to wait before the action is offered again.
      schema: { type: integer, minimum: 0 }
    NoStore:
      description: Manuscript-derived content is served with `no-store`.
      schema: { type: string, const: no-store }

  responses:
    BadRequest:
      description: The body failed validation, or a reference in it names something absent.
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            schemaInvalid: { $ref: '#/components/examples/ErrorSchemaInvalid' }
    Unauthorized:
      description: The request needs a signed-in principal.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            authRequired: { $ref: '#/components/examples/ErrorAuthRequired' }
    PaymentRequired:
      description: A paid module was requested and access is not open.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            accessClosed: { $ref: '#/components/examples/ErrorAccessClosed' }
    Forbidden:
      description: Missing or mismatched CSRF token.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            csrfInvalid: { $ref: '#/components/examples/ErrorCsrfInvalid' }
    NotFound:
      description: |
        An unknown job, an erased job, or a valid job with a wrong token; the client treats the
        three identically.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            jobNotFound: { $ref: '#/components/examples/ErrorJobNotFound' }
    Conflict:
      description: The resource is not in a state that allows this operation.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            notRetryable: { $ref: '#/components/examples/ErrorNotRetryable' }
    Gone:
      description: The result of an attempt that a retry has replaced.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            resultSuperseded: { $ref: '#/components/examples/ErrorResultSuperseded' }
    PayloadTooLarge:
      description: An intake limit was exceeded; `params` names the limit.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            docTooLarge: { $ref: '#/components/examples/ErrorDocTooLarge' }
    UnsupportedMediaType:
      description: An encoding other than gzip or identity.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            unsupportedEncoding: { $ref: '#/components/examples/ErrorUnsupportedEncoding' }
    Unprocessable:
      description: The same idempotency key arrived with a different body.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            keyReuse: { $ref: '#/components/examples/ErrorKeyReuse' }
    Default:
      description: |
        Any other failure. Every non-2xx response carries the same envelope, so a client has one
        branch for a status it was not built to expect.
      headers:
        X-Request-Id: { $ref: '#/components/headers/XRequestId' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            unexpected: { $ref: '#/components/examples/ErrorUnexpected' }
    TooManyRequests:
      description: A request was refused for volume.
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            rateLimited: { $ref: '#/components/examples/ErrorRateLimited' }
    ServiceUnavailable:
      description: The service is briefly unavailable.
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          examples:
            serviceUnavailable: { $ref: '#/components/examples/ErrorServiceUnavailable' }

  schemas:

    # ---- enumerations -------------------------------------------------------

    ModuleId:
      type: string
      enum: [bibcheck, glossary, presubmit, cite]
    DocRole:
      type: string
      enum: [manuscript, bibliography, glossary, venue-requirements, unknown]
    SourceFormat:
      type: string
      enum: [pdf, docx, md, tex, bib, gls, txt, typed]
    Severity:
      type: string
      enum: [critical, warning, info]
    JobState:
      type: string
      enum: [queued, running, partial, finished, failed, cancelled]
    ModuleState:
      type: string
      enum: [queued, running, ok, error, skipped]
    StageState:
      type: string
      enum: [pending, running, done, error, skipped]
    LockReason:
      type: string
      enum: [requires-account, requires-paid, trial-used, period-ended]
    SourceId:
      type: string
      description: A bibliographic database. The client names each one from its dictionary.
      enum:
        - crossref
        - openalex
        - semanticscholar
        - pubmed
        - arxiv
        - doaj
        - core
        - datacite
        - unpaywall
        - europepmc
    OffsetUnit:
      type: string
      const: codepoints
      description: |
        Offsets are Unicode code points, which is the unit Python counts in natively and the
        unit every measurement of text in this contract uses.

    # ---- shared primitives --------------------------------------------------

    Params:
      type: object
      description: Substitutions the client places into the wording it holds for a key.
      additionalProperties:
        anyOf:
          - { type: string }
          - { type: number }
    DictionaryKey:
      type: string
      pattern: '^[a-z][a-z0-9_]*(\.[a-z0-9_]+)+$'
      description: A key into the client's dictionary, such as `bibcheck.retracted_entry`.
    Sha256Hex:
      type: string
      pattern: '^[0-9a-f]{64}$'
    CpOffset:
      type: integer
      minimum: 0
      description: An offset in Unicode code points.
    Counts:
      type: object
      required: [critical, warning, info]
      properties:
        critical: { type: integer, minimum: 0 }
        warning: { type: integer, minimum: 0 }
        info: { type: integer, minimum: 0 }

    ApiError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, requestId]
          properties:
            code:
              type: string
              pattern: '^[A-Z][A-Z0-9_]*$'
              description: An enumerated code from the error dictionary.
            requestId: { type: string }
            params: { $ref: '#/components/schemas/Params' }
            field:
              type: string
              description: The JSON path of the field that failed validation.
            retryAfterSec: { type: integer, minimum: 0 }
            message:
              type: string
              description: English, for logs and developers.

    # ---- submitting a job ---------------------------------------------------

    DocMeta:
      type: object
      additionalProperties: { type: string }
      description: |
        The document information the parser read out of the file, which PreSubmit reads for
        anonymity. The six standard keys are named; XMP entries and custom document properties
        travel alongside them and are where a name most often survives.
      properties:
        Author: { type: string }
        Title: { type: string }
        Subject: { type: string }
        Creator: { type: string }
        Producer: { type: string }
        Keywords: { type: string }

    VenueRef:
      type: object
      additionalProperties: false
      required: [kind, source, docId]
      description: |
        The venue this document targets. There are three ways to bring the requirements in - a
        file, pasted text, or an address the server fetches for the client - and all three end
        in the same place: the requirements are a document of this job, named here through
        `docId`. `kind` records which way was used and `source` what the person
        entered, both for the report rather than for the checking.
      properties:
        kind:
          type: string
          enum: [url, text, file]
        source:
          type: string
          description: What the user entered - an address, a file name, or "pasted".
        docId:
          type: string
          format: uuid
          description: |
            The document in this job carrying `role: venue-requirements` and `checks: []`.
            A venue whose requirements never arrived is not sent at all, so this is always
            present.

    SubmitDocument:
      type: object
      additionalProperties: false
      required: [docId, name, role, format, checks, options, text, textSha256, cpLength]
      properties:
        docId:
          type: string
          format: uuid
          description: Minted by the client and preserved verbatim in every response.
        name:
          type: string
          description: |
            The raw file-system name, so that a document named in a support conversation can be
            found again. Carried as data.
        role: { $ref: '#/components/schemas/DocRole' }
        format:
          $ref: '#/components/schemas/SourceFormat'
        checks:
          type: array
          uniqueItems: true
          items: { $ref: '#/components/schemas/ModuleId' }
          description: |
            What to do with this document. Empty for a document brought as an input to another
            document's checks.
        uses:
          type: array
          uniqueItems: true
          items: { type: string, format: uuid }
          description: |
            docIds of other documents in this job that the checks on this document read.
            The link is written from whichever document carries the tick,
            and both directions occur: a manuscript with BibCheck ticked names the
            bibliography it cites, and a bibliography with BibCheck ticked names the
            manuscript that cites it - either way BibCheck can report missing citations and
            uncited entries. A manuscript with Glossary ticked names a glossary file that
            already exists, so that those acronyms are left alone. A document named here
            that carries no ticks of its own is sent with an empty `checks`; one that does
            carry ticks is an ordinary document of the job and keeps them.
        options:
          allOf:
            - $ref: '#/components/schemas/CheckOptions'
          description: |
            The settings for this document's checks. They belong to the document rather than to
            the job: two manuscripts in one job are two manuscripts with two subject areas and
            two key formats.
        text:
          type: string
          description: The content, verbatim.
        textSha256:
          allOf:
            - $ref: '#/components/schemas/Sha256Hex'
          description: SHA-256 of the UTF-8 bytes of `text`, recomputed by the server.
        cpLength:
          allOf:
            - $ref: '#/components/schemas/CpOffset'
          description: The length of `text` in Unicode code points, recomputed by the server.
        meta: { $ref: '#/components/schemas/DocMeta' }
        venue: { $ref: '#/components/schemas/VenueRef' }

    CheckOptions:
      type: object
      additionalProperties: false
      required: [bibcheck, glossary, presubmit, cite]
      description: |
        A settings snapshot for all four modules, sent in full with every document so that a
        re-run inside the same job is unambiguous.
      properties:
        bibcheck:
          type: object
          additionalProperties: false
          required: [verifyLive, showOrphans, unifyKeys, keyFormat, sortBy, countCommented]
          properties:
            verifyLive: { type: boolean }
            showOrphans: { type: boolean }
            unifyKeys: { type: boolean }
            keyFormat:
              type: string
              enum: [author-year, author-year-title, author-title-year, numeric]
              description: |
                The shape of a citation key in the corrected bibliography, applied when
                `unifyKeys` is true.
            sortBy:
              type: string
              enum: [author, year, title, key, cited-order, original]
              description: |
                The order of entries in the corrected bibliography. `cited-order` is the order
                the manuscript cites them in; `original` keeps the order they arrived in.
            countCommented: { type: boolean }
        glossary:
          type: object
          additionalProperties: false
          properties:
            domain: { type: string }
        presubmit:
          type: object
          additionalProperties: false
          required: [anonymity]
          properties:
            anonymity:
              type: boolean
              description: |
                The double-blind check: names, affiliations, acknowledgements and
                self-identifying references that a blind review must not see.
        cite:
          type: object
          additionalProperties: false
          required: [source, maxPerClaim]
          properties:
            source:
              type: string
              enum: [document, excerpt]
              description: |
                Which piece of writing Cite reads - the whole document, or the paragraph or
                draft section in `excerpt`.
            excerpt:
              type: string
              description: |
                The passage to propose sources for, when `source` is `excerpt`. A paragraph or
                a draft section rather than a phrase; up to 50 000 code points.
            maxPerClaim: { type: integer, minimum: 1 }
            instructions: { type: string }

    SubmitJobRequest:
      type: object
      additionalProperties: false
      required: [documents, locale]
      properties:
        documents:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/SubmitDocument' }
        locale:
          type: string
          description: |
            BCP-47. Sets the language of every word a module writes for a person to read:
            `detail`, the content of an artifact, and any free text inside evidence. Codes and
            dictionary keys are unaffected - the client composes those phrases itself.

    SubmitJobResponse:
      type: object
      required: [jobId, jobToken, createdAt, entitlements]
      properties:
        jobId: { type: string, format: uuid }
        jobToken:
          type: string
          description: Required for every read of this job.
        createdAt: { type: string, format: date-time }
        entitlements: { $ref: '#/components/schemas/Entitlements' }

    RetryRequest:
      type: object
      additionalProperties: false
      properties:
        docIds:
          type: array
          uniqueItems: true
          items: { type: string, format: uuid }
          description: |
            Which documents to re-run this module for. Omitted means every document where it is
            in state `error`.

    # ---- job state ----------------------------------------------------------

    Stage:
      type: object
      required: [id, labelKey, state]
      properties:
        id: { type: string }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        labelParams: { $ref: '#/components/schemas/Params' }
        docId:
          type: string
          format: uuid
          description: Absent for job-wide stages.
        state: { $ref: '#/components/schemas/StageState' }
        startedAt: { type: string, format: date-time }
        finishedAt:
          type: string
          format: date-time
          description: Present once the stage is done, so the row can show how long it took.
        progress:
          type: object
          required: [done, total]
          properties:
            done: { type: integer, minimum: 0 }
            total: { type: integer, minimum: 0 }
        detailKey: { $ref: '#/components/schemas/DictionaryKey' }
        detailParams: { $ref: '#/components/schemas/Params' }

    ModuleStatus:
      type: object
      required: [state, attempt, score, counts]
      properties:
        state: { $ref: '#/components/schemas/ModuleState' }
        attempt:
          type: integer
          minimum: 1
          description: 1 on the first run, raised by a retry.
        score:
          type: [integer, 'null']
          minimum: 0
          maximum: 100
          description: null for Cite and for a module that did not run.
        counts:
          allOf:
            - $ref: '#/components/schemas/Counts'
          description: The numbers the interface shows for this card.
        headlineKey: { $ref: '#/components/schemas/DictionaryKey' }
        headlineParams: { $ref: '#/components/schemas/Params' }
        errorCode:
          type: string
          description: Present exactly when state is `error`.
        skippedReasonKey:
          allOf:
            - $ref: '#/components/schemas/DictionaryKey'
          description: Present exactly when state is `skipped`.
        skippedReasonParams: { $ref: '#/components/schemas/Params' }
        resultRef:
          type: string
          description: |
            The address of the result body, appearing together with a terminal state. A path on
            the API origin beginning with `/jobs/{jobId}/`.
        finishedAt: { type: string, format: date-time }

    JobDocument:
      type: object
      required: [docId, name, role, textSha256, cpLength, modules]
      properties:
        docId: { type: string, format: uuid }
        name: { type: string }
        role: { $ref: '#/components/schemas/DocRole' }
        textSha256:
          allOf:
            - $ref: '#/components/schemas/Sha256Hex'
          description: Recomputed by the server from the text it received.
        cpLength:
          allOf:
            - $ref: '#/components/schemas/CpOffset'
          description: Recomputed likewise.
        modules:
          type: object
          properties:
            bibcheck: { $ref: '#/components/schemas/ModuleStatus' }
            glossary: { $ref: '#/components/schemas/ModuleStatus' }
            presubmit: { $ref: '#/components/schemas/ModuleStatus' }
            cite: { $ref: '#/components/schemas/ModuleStatus' }

    JobStatus:
      type: object
      required: [id, createdAt, state, stages, documents]
      properties:
        id: { type: string, format: uuid }
        createdAt: { type: string, format: date-time }
        state: { $ref: '#/components/schemas/JobState' }
        pollAfterMs:
          type: integer
          minimum: 0
          description: |
            Advisory: the client waits at least this long before the next poll, on top of its
            own backoff.
        stages:
          type: array
          items: { $ref: '#/components/schemas/Stage' }
        documents:
          type: array
          items: { $ref: '#/components/schemas/JobDocument' }

    # ---- the result body ----------------------------------------------------

    TextRef:
      type: object
      required: [docId, textSha256, cpLength]
      properties:
        docId: { type: string, format: uuid }
        textSha256: { $ref: '#/components/schemas/Sha256Hex' }
        cpLength: { $ref: '#/components/schemas/CpOffset' }

    Artifact:
      type: object
      required: [kind, labelKey, content]
      properties:
        kind:
          type: string
          enum: [bib, tex, md, txt]
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        content:
          type: string
          description: The generated text; the client builds the file from it.

    ModuleResult:
      type: object
      required: [module, docId, attempt, offsetUnit, texts, issues]
      properties:
        module: { $ref: '#/components/schemas/ModuleId' }
        docId:
          type: string
          format: uuid
          description: The document this result is about.
        attempt: { type: integer, minimum: 1 }
        offsetUnit: { $ref: '#/components/schemas/OffsetUnit' }
        texts:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/TextRef' }
          description: |
            Every document whose coordinates appear in this body: this result's own document
            first, then each document named by an anchor's `docId`. Both values in each entry
            are recomputed by the server from the text it received.
        issues:
          type: array
          items: { $ref: '#/components/schemas/Issue' }
        artifacts:
          type: array
          items: { $ref: '#/components/schemas/Artifact' }

    # ---- findings -----------------------------------------------------------

    Issue:
      type: object
      required: [issueId, code, severity, titleKey, anchors]
      properties:
        issueId:
          type: string
          description: |
            Stable across polls and across a module retry, unique within one document and
            module, so that the user's marks stay attached to the right finding.
        code:
          type: string
          pattern: '^[A-Z][A-Z0-9_]*$'
        severity: { $ref: '#/components/schemas/Severity' }
        titleKey: { $ref: '#/components/schemas/DictionaryKey' }
        params: { $ref: '#/components/schemas/Params' }
        detail:
          type: string
          description: Plain text, which reaches the DOM as a text node.
        anchors:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/Anchor' }
        evidence:
          type: array
          items: { $ref: '#/components/schemas/Evidence' }
        actions:
          type: array
          items: { $ref: '#/components/schemas/IssueAction' }
        cite:
          allOf:
            - $ref: '#/components/schemas/CiteBlock'
          description: The claims-and-candidates block Cite's card is built from.

    Anchor:
      description: |
        Tagged by `kind`. The last branch matches a kind this version of the schema does not
        define, so an anchor of a new kind parses and the client shows the finding without a
        jump target instead of losing the response.
      oneOf:
        - $ref: '#/components/schemas/AnchorRange'
        - $ref: '#/components/schemas/AnchorQuote'
        - $ref: '#/components/schemas/AnchorPoint'
        - $ref: '#/components/schemas/AnchorBibkey'
        - $ref: '#/components/schemas/AnchorDocument'
        - $ref: '#/components/schemas/AnchorUnknown'

    AnchorUnknown:
      type: object
      required: [kind]
      description: An anchor whose kind this schema version does not define.
      properties:
        kind:
          type: string
          not:
            enum: [range, quote, point, bibkey, document]
        docId: { $ref: '#/components/schemas/AnchorDocId' }

    AnchorDocId:
      type: string
      format: uuid
      description: |
        The document the place is in, when it is a different document from the one this result
        is about. Every id used this way appears in `texts[]`.

    AnchorContext:
      type: string
      description: |
        Verbatim neighbouring text, present on every anchor of kind range, quote or point - 64
        code points a side is ample. `prefix` ends exactly at the left boundary of the place and
        `suffix` begins exactly at its right boundary. Optional here so that a missing context
        costs its own anchor rather than the whole result, though the server always sends it.

    AnchorRange:
      type: object
      required: [kind, from, to, quote]
      description: |
        The module knows the exact coordinates. `quote` is verbatim equal to the submitted text
        between the offsets, and its length in code points equals `to - from`. Context is
        present, as on every anchor that has one.
      properties:
        kind: { type: string, const: range }
        docId: { $ref: '#/components/schemas/AnchorDocId' }
        from: { $ref: '#/components/schemas/CpOffset' }
        to: { $ref: '#/components/schemas/CpOffset' }
        quote: { type: string }
        prefix: { $ref: '#/components/schemas/AnchorContext' }
        suffix: { $ref: '#/components/schemas/AnchorContext' }

    AnchorQuote:
      type: object
      required: [kind, quote]
      description: |
        The module knows the text of the place, which is the right answer for a module working
        on its own representation of the document. Context is present, and here at least one of
        `prefix`/`suffix` is non-empty, since there are no coordinates to fall back on.
      properties:
        kind: { type: string, const: quote }
        docId: { $ref: '#/components/schemas/AnchorDocId' }
        quote: { type: string }
        prefix: { $ref: '#/components/schemas/AnchorContext' }
        suffix: { $ref: '#/components/schemas/AnchorContext' }
        near:
          allOf:
            - $ref: '#/components/schemas/CpOffset'
          description: A hint about search order, used to rank candidates.

    AnchorPoint:
      type: object
      required: [kind, at]
      description: |
        An insertion position rather than a span. At least one of `prefix`/`suffix` is non-empty
        and verbatim, which is what lets the point be verified and re-found after an edit.
      properties:
        kind: { type: string, const: point }
        docId: { $ref: '#/components/schemas/AnchorDocId' }
        at: { $ref: '#/components/schemas/CpOffset' }
        prefix: { $ref: '#/components/schemas/AnchorContext' }
        suffix: { $ref: '#/components/schemas/AnchorContext' }

    AnchorBibkey:
      type: object
      required: [kind, bibkey]
      description: |
        A bibliography entry, addressed by a key that exists in the client's bibliography map or
        literally in the submitted text.
      properties:
        kind: { type: string, const: bibkey }
        docId: { $ref: '#/components/schemas/AnchorDocId' }
        bibkey: { type: string }

    AnchorDocument:
      type: object
      required: [kind]
      description: The finding is about the document as a whole.
      properties:
        kind: { type: string, const: document }
        docId: { $ref: '#/components/schemas/AnchorDocId' }

    Evidence:
      description: |
        Tagged by `kind`. A fact of a kind this schema version does not define parses and the
        card passes over it, showing the rest.
      oneOf:
        - $ref: '#/components/schemas/EvidenceDoi'
        - $ref: '#/components/schemas/EvidenceUrl'
        - $ref: '#/components/schemas/EvidenceDate'
        - $ref: '#/components/schemas/EvidenceNumber'
        - $ref: '#/components/schemas/EvidenceText'
        - $ref: '#/components/schemas/EvidenceSource'
        - $ref: '#/components/schemas/EvidenceUnknown'

    EvidenceUnknown:
      type: object
      required: [kind]
      description: A fact whose kind this schema version does not define.
      properties:
        kind:
          type: string
          not:
            enum: [doi, url, date, number, text, source]

    HttpUrl:
      type: string
      format: uri
      pattern: '^https?://'
      description: Rendered with rel="noopener noreferrer".

    EvidenceDoi:
      type: object
      required: [kind, value]
      properties:
        kind: { type: string, const: doi }
        value: { type: string }
    EvidenceUrl:
      type: object
      required: [kind, value]
      properties:
        kind: { type: string, const: url }
        value: { $ref: '#/components/schemas/HttpUrl' }
    EvidenceDate:
      type: object
      required: [kind, labelKey, value]
      properties:
        kind: { type: string, const: date }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        value: { type: string, format: date }
    EvidenceNumber:
      type: object
      required: [kind, labelKey, value]
      properties:
        kind: { type: string, const: number }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        value: { type: number }
    EvidenceText:
      type: object
      required: [kind, labelKey, value]
      properties:
        kind: { type: string, const: text }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        value: { type: string }
    EvidenceSource:
      type: object
      required: [kind, labelKey, title]
      properties:
        kind: { type: string, const: source }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        title: { type: string }
        url: { $ref: '#/components/schemas/HttpUrl' }

    IssueAction:
      description: |
        Tagged by `kind`. An action of a kind this schema version does not define parses and the
        card does not offer that button, offering the rest.
      oneOf:
        - $ref: '#/components/schemas/ActionCopy'
        - $ref: '#/components/schemas/ActionReplace'
        - $ref: '#/components/schemas/ActionOpenSource'
        - $ref: '#/components/schemas/ActionDownload'
        - $ref: '#/components/schemas/ActionUnknown'

    ActionUnknown:
      type: object
      required: [kind]
      description: An action whose kind this schema version does not define.
      properties:
        kind:
          type: string
          not:
            enum: [copy, replace, openSource, download]

    ActionCopy:
      type: object
      required: [kind, value]
      properties:
        kind: { type: string, const: copy }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        value: { type: string }
    ActionReplace:
      type: object
      required: [kind, value]
      description: |
        The ready replacement text the Apply button inserts. `anchorIndex` names the anchor it
        applies to, and that anchor is of kind `range`.
      properties:
        kind: { type: string, const: replace }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        value: { type: string }
        anchorIndex: { type: integer, minimum: 0, default: 0 }
    ActionOpenSource:
      type: object
      required: [kind, url]
      properties:
        kind: { type: string, const: openSource }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        url: { $ref: '#/components/schemas/HttpUrl' }
    ActionDownload:
      type: object
      required: [kind, artifact]
      properties:
        kind: { type: string, const: download }
        labelKey: { $ref: '#/components/schemas/DictionaryKey' }
        artifact:
          type: integer
          minimum: 0
          description: An index into `artifacts[]` of this module result.

    # ---- bibliographic records, shared by Cite and Scout --------------------

    BiblioRecord:
      type: object
      description: |
        A work as the databases returned it. Every field is third-party data and reaches the DOM
        as a text node.
      required: [title, authors, openAccess, sources]
      properties:
        title: { type: string }
        authors:
          type: array
          items: { type: string }
        year: { type: integer }
        venue: { type: string }
        citedBy: { type: integer, minimum: 0 }
        doi: { type: string }
        url: { $ref: '#/components/schemas/HttpUrl' }
        openAccess: { type: boolean }
        sources:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/SourceId' }
        abstract: { type: string }

    CiteCandidate:
      allOf:
        - $ref: '#/components/schemas/BiblioRecord'
        - type: object
          required: [candidateId, relevance, alreadyCited, lowRelevance]
          properties:
            candidateId:
              type: string
              description: Stable within this result; the client marks acceptance by it.
            relevance: { type: number, minimum: 0, maximum: 1 }
            alreadyCited:
              type: boolean
              description: The work is already in this document's bibliography.
            lowRelevance:
              type: boolean
              description: Shown under the "Potentially low relevance" heading.

    CiteBlock:
      type: object
      required: [query, candidates]
      properties:
        query:
          type: string
          description: The search query the module used, shown on the card.
        candidates:
          type: array
          items: { $ref: '#/components/schemas/CiteCandidate' }

    # ---- entitlements -------------------------------------------------------

    ModuleEntitlement:
      type: object
      required: [allowed]
      properties:
        allowed: { type: boolean }
        lockReason: { $ref: '#/components/schemas/LockReason' }

    Entitlements:
      type: object
      required: [role, access, modules]
      description: |
        Two independent answers. `modules[m].allowed` is the only source for the lock on module
        m; `access` is the only source for what the launch row says about the period. Neither is
        derived from the other: a trial run carries `allowed: true` with `access: false`.
      properties:
        role:
          type: string
          enum: [anonymous, free, paid]
        access:
          type: boolean
          description: Whether paid access is open right now.
        periodEndsAt:
          type: string
          format: date-time
          description: The end of the current period, when the server names one.
        modules:
          type: object
          required: [bibcheck, glossary, presubmit, cite]
          properties:
            bibcheck: { $ref: '#/components/schemas/ModuleEntitlement' }
            glossary: { $ref: '#/components/schemas/ModuleEntitlement' }
            presubmit: { $ref: '#/components/schemas/ModuleEntitlement' }
            cite: { $ref: '#/components/schemas/ModuleEntitlement' }

    # ---- Scout --------------------------------------------------------------

    ScoutRequest:
      type: object
      additionalProperties: false
      required: [query, limit]
      properties:
        query: { type: string, minLength: 1 }
        limit:
          type: integer
          enum: [10, 25, 50, 100]
        locale: { type: string }

    ScoutResult:
      allOf:
        - $ref: '#/components/schemas/BiblioRecord'
        - type: object
          required: [resultId]
          properties:
            resultId:
              type: string
              description: Stable within this response; the feedback call names it.
            relevance: { type: number, minimum: 0, maximum: 1 }

    ScoutResponse:
      type: object
      required: [results, searchedSources]
      properties:
        results:
          type: array
          items: { $ref: '#/components/schemas/ScoutResult' }
        searchedSources:
          type: array
          items: { $ref: '#/components/schemas/SourceId' }
          description: Which databases answered.
        degraded:
          type: array
          items: { $ref: '#/components/schemas/SourceId' }
          description: |
            Which databases timed out or failed, so that the interface can say a partial answer
            is partial.

    ScoutFeedbackRequest:
      type: object
      additionalProperties: false
      required: [resultId, vote]
      properties:
        resultId: { type: string }
        vote:
          type: string
          enum: [up, down]

    # ---- venues -------------------------------------------------------------

    VenueFetchRequest:
      type: object
      additionalProperties: false
      required: [url]
      properties:
        url: { $ref: '#/components/schemas/HttpUrl' }

    VenueFetchResponse:
      type: object
      required: [state, fetchedAt]
      properties:
        state:
          type: string
          enum: [ready, not-requirements]
        text:
          type: string
          description: The extracted requirements as plain text; present when state is `ready`.
        title: { type: string }
        fetchedAt: { type: string, format: date-time }

    # ---- telemetry ----------------------------------------------------------

    Breadcrumb:
      type: object
      additionalProperties: false
      required: [action, outcome, ts]
      properties:
        action: { type: string }
        outcome: { type: string }
        ts: { type: string, format: date-time }

    UserReport:
      type: object
      additionalProperties: false
      required: [message]
      description: |
        Present on an event of kind `user_report`. The client shows the complete contents of the
        report before it is sent.
      properties:
        message:
          type: string
          description: What the person wrote.
        excerpt:
          type: string
          description: |
            A fragment of the document the person selected in the editor and confirmed
            attaching.

    ClientEvent:
      type: object
      additionalProperties: false
      required: [id, ts, kind, code, fingerprint, count, release, route, locale, theme,
                 viewport, context, breadcrumbs]
      properties:
        id: { type: string }
        ts: { type: string, format: date-time }
        kind:
          type: string
          enum:
            - js_error
            - promise_rejection
            - react_error
            - worker_error
            - api_error
            - schema_error
            - network_error
            - extract_failed
            - extract_suspicious
            - slow_operation
            - stalled_action
            - blocked_action
            - repeated_click
            - anchor_degraded
            - anchor_rejected
            - anchor_budget
            - storage_pressure
            - user_report
        code:
          type: string
          description: |
            An enumeration, optionally with a path, such as
            `SCHEMA_MISMATCH:job.documents[0].modules.bibcheck.score`.
        fingerprint:
          type: string
          description: Identical events are collapsed by it with a count.
        count: { type: integer, minimum: 1 }
        release: { type: string }
        route: { type: string }
        locale: { type: string }
        theme:
          type: string
          enum: [light, dark]
        viewport:
          type: object
          additionalProperties: false
          required: [w, h]
          properties:
            w: { type: integer }
            h: { type: integer }
        context:
          type: object
          description: Numbers, flags and enumerated strings.
          additionalProperties:
            anyOf:
              - { type: number }
              - { type: boolean }
              - { type: string }
        breadcrumbs:
          type: array
          items: { $ref: '#/components/schemas/Breadcrumb' }
        requestId:
          type: string
          description: Ties the event to a server log line.
        report: { $ref: '#/components/schemas/UserReport' }

    ClientEventsRequest:
      type: object
      additionalProperties: false
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/ClientEvent' }

    ClientEventsResponse:
      type: object
      properties:
        collect:
          type: string
          enum: [on, off]
          description: The server-side switch for automatic collection.
        reportId:
          type: string
          description: Shown to the user after a manual problem report.

    # ---- accounts and billing ----------------------------------------------

    User:
      type: object
      required: [id, email, createdAt]
      properties:
        id: { type: string }
        email: { type: string, format: email }
        name: { type: string }
        createdAt: { type: string, format: date-time }

    SessionResponse:
      type: object
      required: [user, csrfToken]
      properties:
        user:
          oneOf:
            - $ref: '#/components/schemas/User'
            - type: 'null'
        csrfToken: { type: string }

    RegisterRequest:
      type: object
      additionalProperties: false
      required: [email, password, locale]
      properties:
        email: { type: string, format: email }
        password: { type: string }
        locale: { type: string }

    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    ForgotPasswordRequest:
      type: object
      additionalProperties: false
      required: [email]
      properties:
        email: { type: string, format: email }

    ResetPasswordRequest:
      type: object
      additionalProperties: false
      required: [token, password]
      properties:
        token: { type: string }
        password: { type: string }

    CheckoutRequest:
      type: object
      additionalProperties: false
      required: [plan]
      properties:
        plan: { type: string }

    RedirectUrl:
      type: object
      required: [url]
      properties:
        url: { type: string, format: uri }

    HealthResponse:
      type: object
      required: [status]
      properties:
        status: { type: string, const: ok }
        release: { type: string }

  examples:

    # Every example below is a body the stub environment serves, so
    # the mocks the client is built against and the contract are one artifact.
    # The four ids and the two hashes are the same throughout.

    # ---- creating a job -----------------------------------------------------

    JobAccepted:
      summary: The job was created; the launch row is refreshed from `entitlements`.
      value:
        jobId: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        jobToken: jt_9Qp2vK7sYbN4tR8mL0xJcW3hZ6dF1aQe
        createdAt: '2026-08-24T09:41:07Z'
        entitlements:
          role: paid
          access: true
          periodEndsAt: '2026-08-25T00:00:00Z'
          modules:
            bibcheck: { allowed: true }
            glossary: { allowed: true }
            presubmit: { allowed: true }
            cite: { allowed: true }

    # ---- polling ------------------------------------------------------------

    JobRunning:
      summary: Mid-flight - one module done, one running, one queued.
      value:
        id: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        createdAt: '2026-08-24T09:41:07Z'
        state: running
        pollAfterMs: 2000
        stages:
          - id: accepted
            labelKey: stage.accepted
            labelParams: { documents: 2, characters: 225491 }
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:07Z'
          - id: bibcheck:a71b0c39
            labelKey: stage.bibcheck
            docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
            state: running
            startedAt: '2026-08-24T09:41:09Z'
            progress: { done: 31, total: 47 }
            detailKey: stage.bibcheck.crossref
            detailParams: { databases: 2 }
          - id: presubmit:0f2c1d64
            labelKey: stage.presubmit
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:16Z'
            detailKey: stage.presubmit.done
            detailParams: { issues: 2 }
          - id: cite:0f2c1d64
            labelKey: stage.cite
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: pending
        documents:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            name: paper_v7.pdf
            role: manuscript
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
            modules:
              presubmit:
                state: ok
                attempt: 1
                score: 78
                counts: { critical: 0, warning: 2, info: 0 }
                headlineKey: presubmit.author_repo_link
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31/modules/presubmit/result
                finishedAt: '2026-08-24T09:41:16Z'
              cite:
                state: queued
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }
              bibcheck:
                state: running
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }
          - docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
            name: refs.bib
            role: bibliography
            textSha256: b1946ac92492d2347c6235b4d2611184b1946ac92492d2347c6235b4d2611184
            cpLength: 41288
            modules:
              bibcheck:
                state: running
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }

    JobFinished:
      summary: Every module terminal and none in `error`.
      value:
        id: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        createdAt: '2026-08-24T09:41:07Z'
        state: finished
        stages:
          - id: accepted
            labelKey: stage.accepted
            labelParams: { documents: 2, characters: 225491 }
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:07Z'
          - id: bibcheck:a71b0c39
            labelKey: stage.bibcheck
            docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
            state: done
            startedAt: '2026-08-24T09:41:09Z'
            finishedAt: '2026-08-24T09:41:31Z'
            progress: { done: 47, total: 47 }
          - id: presubmit:0f2c1d64
            labelKey: stage.presubmit
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:16Z'
          - id: cite:0f2c1d64
            labelKey: stage.cite
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: done
            startedAt: '2026-08-24T09:41:16Z'
            finishedAt: '2026-08-24T09:42:04Z'
        documents:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            name: paper_v7.pdf
            role: manuscript
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
            modules:
              bibcheck:
                state: ok
                attempt: 1
                score: 64
                counts: { critical: 1, warning: 1, info: 0 }
                headlineKey: bibcheck.retracted_entry
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31/modules/bibcheck/result
                finishedAt: '2026-08-24T09:41:31Z'
              presubmit:
                state: ok
                attempt: 1
                score: 78
                counts: { critical: 0, warning: 2, info: 0 }
                headlineKey: presubmit.author_repo_link
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31/modules/presubmit/result
                finishedAt: '2026-08-24T09:41:16Z'
              cite:
                state: ok
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 1 }
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31/modules/cite/result
                finishedAt: '2026-08-24T09:42:04Z'
          - docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
            name: refs.bib
            role: bibliography
            textSha256: b1946ac92492d2347c6235b4d2611184b1946ac92492d2347c6235b4d2611184
            cpLength: 41288
            modules:
              bibcheck:
                state: ok
                attempt: 1
                score: 71
                counts: { critical: 1, warning: 3, info: 2 }
                headlineKey: bibcheck.retracted_entry
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77/modules/bibcheck/result
                finishedAt: '2026-08-24T09:41:31Z'

    JobPartial:
      summary: |
        One module in `error`, one `skipped`, the rest fine. A normal state rather than a
        degraded one: the skipped card is a verdict the person paid for and stays on screen
        next to the one offering a retry.
      value:
        id: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        createdAt: '2026-08-24T09:41:07Z'
        state: partial
        stages:
          - id: accepted
            labelKey: stage.accepted
            labelParams: { documents: 1, characters: 184203 }
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:07Z'
          - id: bibcheck:0f2c1d64
            labelKey: stage.bibcheck
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: done
            startedAt: '2026-08-24T09:41:09Z'
            finishedAt: '2026-08-24T09:41:31Z'
          - id: glossary:0f2c1d64
            labelKey: stage.glossary
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: skipped
            startedAt: '2026-08-24T09:41:31Z'
            finishedAt: '2026-08-24T09:41:32Z'
          - id: cite:0f2c1d64
            labelKey: stage.cite
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: error
            startedAt: '2026-08-24T09:41:32Z'
            finishedAt: '2026-08-24T09:43:32Z'
        documents:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            name: paper_v7.pdf
            role: manuscript
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
            modules:
              bibcheck:
                state: ok
                attempt: 1
                score: 64
                counts: { critical: 1, warning: 1, info: 0 }
                headlineKey: bibcheck.retracted_entry
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31/modules/bibcheck/result
                finishedAt: '2026-08-24T09:41:31Z'
              glossary:
                state: skipped
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }
                skippedReasonKey: glossary.skipped.no_acronyms
                finishedAt: '2026-08-24T09:41:32Z'
              cite:
                state: error
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }
                errorCode: LLM_UNAVAILABLE
                finishedAt: '2026-08-24T09:43:32Z'

    JobFailed:
      summary: Every module ended in `error`.
      value:
        id: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        createdAt: '2026-08-24T09:41:07Z'
        state: failed
        stages:
          - id: accepted
            labelKey: stage.accepted
            labelParams: { documents: 1, characters: 184203 }
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:07Z'
          - id: bibcheck:0f2c1d64
            labelKey: stage.bibcheck
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: error
            startedAt: '2026-08-24T09:41:09Z'
            finishedAt: '2026-08-24T09:44:09Z'
        documents:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            name: paper_v7.pdf
            role: manuscript
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
            modules:
              bibcheck:
                state: error
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }
                errorCode: UPSTREAM_UNAVAILABLE
                finishedAt: '2026-08-24T09:44:09Z'

    JobCancelled:
      summary: The person cancelled; the text and any partial results are erased.
      value:
        id: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        createdAt: '2026-08-24T09:41:07Z'
        state: cancelled
        stages:
          - id: accepted
            labelKey: stage.accepted
            labelParams: { documents: 1, characters: 184203 }
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:07Z'
          - id: bibcheck:0f2c1d64
            labelKey: stage.bibcheck
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: skipped
            startedAt: '2026-08-24T09:41:09Z'
            finishedAt: '2026-08-24T09:41:22Z'
        documents:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            name: paper_v7.pdf
            role: manuscript
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
            modules:
              bibcheck:
                state: queued
                attempt: 1
                score: null
                counts: { critical: 0, warning: 0, info: 0 }

    JobRetrying:
      summary: The failed module was re-run; `attempt` is raised and the job is running again.
      value:
        id: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
        createdAt: '2026-08-24T09:41:07Z'
        state: running
        pollAfterMs: 2000
        stages:
          - id: accepted
            labelKey: stage.accepted
            labelParams: { documents: 1, characters: 184203 }
            state: done
            startedAt: '2026-08-24T09:41:07Z'
            finishedAt: '2026-08-24T09:41:07Z'
          - id: bibcheck:0f2c1d64
            labelKey: stage.bibcheck
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: done
            startedAt: '2026-08-24T09:41:09Z'
            finishedAt: '2026-08-24T09:41:31Z'
          - id: cite:0f2c1d64
            labelKey: stage.cite
            docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            state: running
            startedAt: '2026-08-24T09:45:02Z'
        documents:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            name: paper_v7.pdf
            role: manuscript
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
            modules:
              bibcheck:
                state: ok
                attempt: 1
                score: 64
                counts: { critical: 1, warning: 1, info: 0 }
                resultRef: /jobs/6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481/documents/0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31/modules/bibcheck/result
                finishedAt: '2026-08-24T09:41:31Z'
              cite:
                state: running
                attempt: 2
                score: null
                counts: { critical: 0, warning: 0, info: 0 }

    # ---- module result bodies -----------------------------------------------

    ResultBibcheck:
      summary: |
        A finding whose place lives in another document: the retracted work is cited twice in
        the manuscript and its entry is in the bibliography, so the body declares both
        documents in `texts[]`.
      value:
        module: bibcheck
        docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
        attempt: 1
        offsetUnit: codepoints
        texts:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
          - docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
            textSha256: b1946ac92492d2347c6235b4d2611184b1946ac92492d2347c6235b4d2611184
            cpLength: 41288
        issues:
          - issueId: iss_1
            code: RETRACTED_ENTRY
            severity: critical
            titleKey: bibcheck.retracted_entry
            params: { retractedOn: '2024-03-11' }
            detail: The article was retracted by the publisher after concerns about image duplication.
            anchors:
              - kind: bibkey
                docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
                bibkey: smith2019attention
              - kind: range
                from: 12045
                to: 12062
                quote: Smith et al. [22]
                prefix: 'as shown by '
                suffix: '. We extend'
              - kind: range
                from: 38110
                to: 38127
                quote: Smith et al. [22]
                prefix: 'unlike '
                suffix: ', our data'
            evidence:
              - kind: doi
                value: 10.1000/xyz123
              - kind: date
                labelKey: evidence.retracted_on
                value: '2024-03-11'
              - kind: source
                labelKey: evidence.retraction_watch
                title: Retraction Watch Database
                url: https://retractiondatabase.org/records/10.1000/xyz123
            actions:
              - kind: openSource
                url: https://doi.org/10.1000/xyz123
              - kind: download
                labelKey: action.download_bibliography
                artifact: 0
          - issueId: iss_2
            code: UNCITED_SOURCE
            severity: warning
            titleKey: bibcheck.uncited_source
            params: { key: jones2021 }
            anchors:
              - kind: bibkey
                docId: a71b0c39-4e52-4bb1-9c02-6f8d3a1e5c77
                bibkey: jones2021
        artifacts:
          - kind: bib
            labelKey: artifact.corrected_bibliography
            content: "@article{smith2019a,\n  title = {Attention Revisited}\n}\n"

    ResultCite:
      summary: |
        A claim with candidates in both groups: one already cited, one offered, one under
        "Potentially low relevance".
      value:
        module: cite
        docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
        attempt: 1
        offsetUnit: codepoints
        texts:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
        issues:
          - issueId: cl_7
            code: CLAIM_NEEDS_SOURCE
            severity: info
            titleKey: cite.claim_needs_source
            anchors:
              - kind: range
                from: 20114
                to: 20199
                quote: Transformer models outperform recurrent architectures on long-range dependency tasks.
                prefix: 'In particular, '
                suffix: ' This has been'
            cite:
              query: transformer long-range dependency recurrent comparison
              candidates:
                - candidateId: cand_1
                  title: Attention Is All You Need
                  authors: ['Vaswani, A.', 'Shazeer, N.']
                  year: 2017
                  venue: NeurIPS
                  citedBy: 112340
                  doi: 10.48550/arXiv.1706.03762
                  url: https://arxiv.org/abs/1706.03762
                  openAccess: true
                  sources: [arxiv, semanticscholar, openalex]
                  relevance: 0.94
                  alreadyCited: true
                  lowRelevance: false
                - candidateId: cand_2
                  title: 'Long Range Arena: A Benchmark for Efficient Transformers'
                  authors: ['Tay, Y.', 'Dehghani, M.']
                  year: 2021
                  venue: ICLR
                  citedBy: 1180
                  doi: 10.48550/arXiv.2011.04006
                  openAccess: true
                  sources: [arxiv, openalex]
                  relevance: 0.88
                  alreadyCited: false
                  lowRelevance: false
                - candidateId: cand_3
                  title: On the Difficulty of Training Recurrent Neural Networks
                  authors: ['Pascanu, R.']
                  year: 2013
                  venue: ICML
                  citedBy: 6420
                  openAccess: false
                  sources: [openalex]
                  relevance: 0.41
                  alreadyCited: false
                  lowRelevance: true

    ResultPresubmit:
      summary: |
        The venue check on a manuscript. Its artifact is the checklist as Markdown - the thing
        a person takes into the submission form beside them - and not a bibliography: the kind
        an artifact carries is the kind of file that module writes, and it is what the client
        saves it under.
      value:
        module: presubmit
        docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
        attempt: 1
        offsetUnit: codepoints
        texts:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
        issues:
          - issueId: 3f1c0a77-5b21-4de6-9a02-7c4e18b3d590
            code: PRESUBMIT_AUTHOR_IN_METADATA
            severity: critical
            titleKey: presubmit.author_in_metadata
            params: { field: Author }
            detail: The file properties still carry the author's name, which a blind review must not see.
            anchors:
              - kind: document
                docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            evidence:
              - kind: text
                labelKey: evidence.metadata_field
                value: 'Author: Jane Smith'
            actions:
              - kind: copy
                value: 'Author: Jane Smith'
          - issueId: 8a2d4e13-90bc-4f77-b6a1-2e5c0d9f3b48
            code: PRESUBMIT_AUTHOR_REPO_LINK
            severity: warning
            titleKey: presubmit.author_repo_link
            params: { host: github.com }
            anchors:
              - kind: range
                docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
                from: 31980
                to: 32017
                quote: https://github.com/jsmith/dense-retrieval
        artifacts:
          - kind: md
            labelKey: artifact.submission_checklist
            content: "# Before you submit\n\n- [ ] Remove the author name from the file properties\n- [ ] Replace the repository link with an anonymised one\n"

    ResultGlossary:
      summary: |
        The glossary check on a manuscript that brought no glossary file. It still finds the
        acronyms, and what it writes is a glossary in the format the manuscript is written in -
        a `.tex` here - so that the file it hands back can be included as it stands.
      value:
        module: glossary
        docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
        attempt: 1
        offsetUnit: codepoints
        texts:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
        issues:
          - issueId: c40b7e29-1d83-4a56-8f0e-9b7d2c614a3f
            code: GLOSSARY_UNDEFINED_ACRONYM
            severity: warning
            titleKey: glossary.undefined_acronym
            params: { acronym: MRR }
            anchors:
              - kind: range
                docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
                from: 44120
                to: 44123
                quote: MRR
            evidence:
              - kind: number
                labelKey: evidence.occurrences
                value: 14
            actions: []
        artifacts:
          - kind: tex
            labelKey: artifact.generated_glossary
            content: "\\newacronym{mrr}{MRR}{mean reciprocal rank}\n"

    ResultUnknownKinds:
      summary: |
        An anchor, a fact and an action of kinds this version of the schema does not define,
        alongside ones it does. The finding parses and reaches the card; the unfamiliar anchor
        offers no jump target and the unfamiliar action is not drawn. This is the
        body the open-branch test feeds the client.
      value:
        module: presubmit
        docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
        attempt: 1
        offsetUnit: codepoints
        texts:
          - docId: 0f2c1d64-9b3a-4a7e-8f11-2d9c5b0a7e31
            textSha256: 9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08
            cpLength: 184203
        issues:
          - issueId: iss_9
            code: AUTHOR_REPO_LINK
            severity: warning
            titleKey: presubmit.author_repo_link
            anchors:
              - kind: sidenote
                sidenoteId: sn_3
              - kind: range
                from: 4021
                to: 4058
                quote: https://github.com/jsmith/thesis-code
                prefix: 'available at '
                suffix: ' (accessed'
            evidence:
              - kind: confidence
                score: 0.72
              - kind: text
                labelKey: evidence.matched_name
                value: jsmith
            actions:
              - kind: explain
                promptId: p_11
              - kind: copy
                labelKey: action.copy_url
                value: https://github.com/jsmith/thesis-code

    # ---- entitlements -------------------------------------------------------

    EntitlementsAnonymous:
      summary: Signed out - the free modules are open, the paid ones need an account.
      value:
        role: anonymous
        access: false
        modules:
          bibcheck: { allowed: true }
          glossary: { allowed: true }
          presubmit: { allowed: false, lockReason: requires-account }
          cite: { allowed: false, lockReason: requires-account }

    EntitlementsTrial:
      summary: |
        A registered account with the trial run of Cite unspent: `allowed: true` with
        `access: false`. The ordinary case, and the reason neither field is derived from the
        other.
      value:
        role: free
        access: false
        modules:
          bibcheck: { allowed: true }
          glossary: { allowed: true }
          presubmit: { allowed: true }
          cite: { allowed: true }

    EntitlementsPaid:
      summary: Paid access open, with the end of the current period named.
      value:
        role: paid
        access: true
        periodEndsAt: '2026-08-25T00:00:00Z'
        modules:
          bibcheck: { allowed: true }
          glossary: { allowed: true }
          presubmit: { allowed: true }
          cite: { allowed: true }

    EntitlementsPeriodEnded:
      summary: The period elapsed; the free modules stay open.
      value:
        role: paid
        access: false
        modules:
          bibcheck: { allowed: true }
          glossary: { allowed: true }
          presubmit: { allowed: false, lockReason: period-ended }
          cite: { allowed: false, lockReason: period-ended }

    # ---- Scout, venues, session, telemetry, billing, liveness ---------------

    ScoutResults:
      summary: Two databases answered and one timed out, so the interface can say so.
      value:
        results:
          - resultId: res_1
            title: Attention Is All You Need
            authors: ['Vaswani, A.', 'Shazeer, N.']
            year: 2017
            venue: NeurIPS
            citedBy: 112340
            doi: 10.48550/arXiv.1706.03762
            url: https://arxiv.org/abs/1706.03762
            openAccess: true
            sources: [arxiv, semanticscholar]
            relevance: 0.96
          - resultId: res_2
            title: 'Long Range Arena: A Benchmark for Efficient Transformers'
            authors: ['Tay, Y.']
            year: 2021
            venue: ICLR
            citedBy: 1180
            openAccess: true
            sources: [arxiv]
            relevance: 0.81
        searchedSources: [arxiv, semanticscholar]
        degraded: [openalex]

    VenueRequirementsFetched:
      summary: The page was read and its text extracted.
      value:
        state: ready
        title: 'ACL 2026 Submission Guidelines'
        text: Papers must be anonymised. The main text is limited to eight pages, excluding references.
        fetchedAt: '2026-08-24T09:40:11Z'

    VenueRequirementsNotRequirements:
      summary: The address was read but does not look like a requirements page.
      value:
        state: not-requirements
        fetchedAt: '2026-08-24T09:40:11Z'

    ClientEventsAccepted:
      summary: A batch was received, and the manual report has an id to show the person.
      value:
        collect: 'on'
        reportId: rep_01J8Z3K4M5

    SessionAnonymous:
      summary: An anonymous principal is a normal answer, and it carries a CSRF token.
      value:
        user: null
        csrfToken: csrf_4b81c0f2a7d94e6b

    SessionSignedIn:
      summary: A signed-in principal.
      value:
        user:
          id: usr_3f19
          email: j.smith@example.edu
          name: J. Smith
          createdAt: '2025-11-02T18:24:00Z'
        csrfToken: csrf_4b81c0f2a7d94e6b

    AccountExport:
      summary: The account's own records, as JSON.
      value:
        account:
          id: usr_3f19
          email: j.smith@example.edu
          createdAt: '2025-11-02T18:24:00Z'
        jobs:
          - jobId: 6d0b8b41-2f7a-4c1e-b3d9-0a5c7e2f9481
            createdAt: '2026-08-24T09:41:07Z'
            state: finished

    BillingRedirect:
      summary: The address to redirect the browser to.
      value:
        url: https://billing.example.com/session/cs_test_a1b2c3

    HealthOk:
      summary: The service is up.
      value:
        status: ok
        release: '2026.08.24-1'

    # ---- refusals -----------------------------------------------------------

    ErrorSchemaInvalid:
      summary: The body failed validation; `field` names the path.
      value:
        error:
          code: SCHEMA_INVALID
          requestId: req_01J8Z3K4M5
          field: documents[0].textSha256
          message: Expected a 64-character lowercase hex digest.

    ErrorAuthRequired:
      summary: A paid module was asked for by an anonymous session.
      value:
        error:
[...]
